body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo-web {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;

}

.logo-studio {
font-family: "Raleway", sans-serif; 
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42; 
}


.link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link:hover,
.link:focus {
    color: #404bbf;
}
 

address {
font-style: normal;
}

.contact {
 font-weight: 400;
 line-height: 1.5;
 letter-spacing: 0.02em;
 font-size: 16px;
color: #434455;
}


.contact:hover,
.contact:focus {
    color: #404BBF;
}


.start-page {
    background-color: #2e2f42;
}

.start-title {
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
Color: #ffff; 
}

.button {
background-color: #4d5ae5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
}

button:hover,
button:focus {
background-color: #404BBF 
}


.descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}

.qual {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-team {
    background-color: #F4F4FD;
}

.team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}

.members {
    background-color: #FFFFFF;   
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.member-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}

.app-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.portfolio p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}


.footer {
    background-color: #2e2f42;
}

.web-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.studio-logo {
    
    color: #f4f4fd;
}

.text-footer {
line-height: 1.5;
color: #F4F4FD;
letter-spacing: 0.02em;
}