body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}

p, h1, h2, h3, h4, h5, h6 {
margin: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1128px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items:  center;
    gap: 40px;
}

.nav-address-list {
    display: flex;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;

}

.logo-studio {
color: #2e2f42; 
}


.logo-web {
   padding: 24px 0;
   margin-right: 76px;
}


.link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link:hover,
.link:focus {
    color: #404bbf;
}
 

.nav-address {
font-style: normal;
margin-left: auto;
}

.nav-address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact {
display: block;
padding: 24px 0;
 font-weight: 400;
 line-height: 1.5;
 letter-spacing: 0.02em;
 font-size: 16px;
color: #434455;
}


.contact:hover,
.contact:focus {
    color: #404BBF;
}


.start-page {
    background-color: #2e2f42;
    width: 1440px;
    height: 600px;

}

.start-title {
display: flex;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
Color: #fff; 
margin: 0 auto;
padding-top: 188px;
padding-bottom: 292px;
}



.button {
display: block;
background-color: #4d5ae5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
padding: 16px 32px;
}

button:hover,
button:focus {
background-color: #404BBF 
}

.qual-list {
    padding-top: 120px;
    padding-bottom: 120px;
    justify-content: space-between;
    display: flex; 
    gap: 24px;
}

.qual-item {
width: calc(100% - 72)/4
}

.descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}

.qual {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.our-team {
    background-color: #F4F4FD;
    padding-top: 60px;
    padding-bottom: 60px;

}

.team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}
.our-team-list{
    display: flex;
    align-items: center;
    gap: 24px;
}

.members {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;  
    padding: 0px 0px 32px 0px;
}

.text-members {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 8px;

}
.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.member-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
}

.portfolio-list {
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
gap: 8px;
}



.our-portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}

.text-p {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px; 
}

.app-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}


.descr-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}


.footer {
    background-color: #2e2f42;
    width: 1440px;
    height: 312px;
}


.footer-text {
padding-top: 100px;
padding-right: 1020px;
padding-bottom: 100px;
padding-left: 156px;
}


.web-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.studio-logo {
    
    color: #f4f4fd;
}

.text-footer {
line-height: 1.5;
color: #F4F4FD;
letter-spacing: 0.02em;
margin-top: 16px;
}